# Data files
data/*
*.csv
*.json

# Model files
*.pth
*.pt
*.ckpt
# Images
*.png
*.jpg

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment and IDE files
.env
.venv
env/
venv/
ENV/
.idea/
.vscode/

